* {
    font-family: 'Cinzel', serif;
}
#header {
 border-bottom-left-radius: 1em;
 border-bottom-right-radius: 1em;
 }
body {
    font-family: 'Electrolize', sans-serif;
    background-image: url('../background.jpg');
    background-position: cover;
}
.card {
    background-color: #252121;
    color: #ffffff;
    padding: 1em;
}
#footer {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
}